$font-1: "Roboto", sans-serif;
$primary-fsz: 0.875rem; //14px
$fsz-1: 1rem;
$fsz-2: 1.25rem;
$width-1: 1440px;
$width-2: 1050px;
$width-3: 860px;
$first-color: gold;
$second-color: rgba(0, 0, 0, 0.7);
$third-color: black;
$forth-color: #4d4848;
$fifth-color: #959595;
$none: none;
$pos-rel: relative;
$pos-a: absolute;
$autom: 0 auto;
$border-1: 4px solid gold;
$border-2: 1px solid gold;
